<!DOCTYPE html>
<html ng-app="reddit-app" ng-controller="RedditCommentController">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}}</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/comments.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script src="js/comments.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div ng-include="'templates/comment-header.html'"></div>
	<div class="row">
		<div class="col-md-6">
			<iframe frameborder="0" style="overflow:hidden;" height="600px" width="100%" src="{{targetUrl}}"></iframe>
		</div>
		<div class="col-md-6">
			<div class="comments-comments">
			<ul>
				<li ng-if="reddit.comments" ng-repeat="comment in reddit.comments" ng-include="'templates/comments.html'"></li>
			</ul>
		</div>
		<div ng-show='reddit.busy'>Loading data...</div>
		<div ng-show='reddit.error'>Error fetching data</div>
		</div>
	</div>
	
</body>
</html>